{:source-paths ["src"]

 :dependencies [[reagent "0.8.1" :exclusions [cljsjs/react cljsjs/react-dom]]
;                [garden "1.3.10"]
 ;               [clj-commons/cljss "1.6.4"]
                [stylefy "2.2.1"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:init-fn starter.core/start}}
                :devtools {:before-load starter.core/stop
                           :after-load starter.core/start
                           :http-root "public"
                           :http-port 8020}}}}
